.head{
    text-align: center;
    font-weight: bolder;
}
.panel-heading{
    font-weight: bolder;
}
img{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.submit{
    text-align: center;
}